In [21]:
import pandas as pd

In [34]:
df=pd.read_csv("DesignBuilder\Casos demanda\Results performance\Case 2\ACS almacenador pequeño.csv", sep= ";", skiprows=[0,1,2])
df.to_csv("DesignBuilder/Casos demanda/Results performance/Case 2/radiation.csv")

In [32]:
df

,Unnamed: 0,4299 WATER OUTLET,4292 WATER OUTLET,AUX HW LOOP WATER HEATER,AUX HW LOOP SUPPLY SIDE INLET,Environment,Environment.1,Environment.2,AUX HW LOOP WATER HEATER DHW INLET NODE,AUX HW LOOP SUPPLY SIDE OUTLET
0,1/01/2002 01:00,0.000000,0.000000,0.0,16.736473,4.825,0.0,0.0,16.736473,55.000000
1,1/01/2002 02:00,0.000000,0.000000,0.0,16.736473,4.800,0.0,0.0,16.736473,55.000000
2,1/01/2002 03:00,0.000000,0.000000,0.0,16.736473,4.950,0.0,0.0,16.736473,55.000000
3,1/01/2002 04:00,0.000000,0.000000,0.0,16.736473,5.225,0.0,0.0,16.736473,55.000000
4,1/01/2002 05:00,0.000000,0.000000,0.0,16.736473,5.600,0.0,0.0,16.736473,55.000000
...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2002 20:00,1489.171596,197.240703,0.0,16.676523,5.825,0.0,0.0,54.972088,54.994068
8756,31/12/2002 21:00,1500.697517,198.767310,0.0,16.676523,5.725,0.0,0.0,54.985205,54.992188
8757,31/12/2002 22:00,1500.421854,198.730799,0.0,16.676523,5.550,0.0,0.0,54.954892,54.985616
8758,31/12/2002 23:00,1499.636783,198.626816,0.0,16.676523,5.275,0.0,0.0,54.918189,54.967728
8759,1/01/2003 00:00,0.000000,0.000000,0.0,16.676523,4.975,0.0,0.0,16.676523,54.963063

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
8755    0.0
8756    0.0
8757    0.0
8758    0.0
8759    0.0
Length: 8760, dtype: float64