1. Leemos los datos de los resultados. Ordenamos, agregamos el n√∫mero de caso y juntamos todo en un solo archivo.

In [20]:
import pandas as pd
import numpy as np

case1=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 1 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case1=case1.drop([0], axis=0)
case1["case"]= 1

case2=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 2 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case2=case2.drop([0], axis=0)
case2["case"]= 2

case3=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 3 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case3=case3.drop([0], axis=0)
case3["case"]= 3

case4=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 4 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case4=case4.drop([0], axis=0)
case4["case"]= 4

case5=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 5 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case5=case5.drop([0], axis=0)
case5["case"]= 5

case6=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 6 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case6=case6.drop([0], axis=0)
case6["case"]= 6

case7=pd.read_csv("DesignBuilder\Casos demanda\Results demand\case 7 - thermal demand - hourly.csv", encoding= "latin-1", sep=";")
case7=case7.drop([0], axis=0)
case7["case"]= 7


df= pd.concat([case1,case2, case3, case4, case5, case6, case7],axis=0)

df["Date/Time"]= df["Date/Time"].astype('str')

df["Date/Time"]= df["Date/Time"].replace("/","-")


df= df[["Date/Time", "Walls", "Ground Floors" , "Partitions (int)", "Roofs", "External Infiltration", "Total Cooling", "Zone Heating", "Occupancy", "Solar Gains Exterior Windows", "Air Temperature", "Radiant Temperature", "Operative Temperature", "DHW (Electricity)", "Outside Dry-Bulb Temperature","Diffuse Horizontal Solar","Direct Normal Solar", "case"]]

df.to_csv("CleanData/thermal_anual_df.csv", index= False)

In [8]:
df

,Date/Time,Walls,Ground Floors,Partitions (int),Roofs,External Infiltration,Total Cooling,Zone Heating,Occupancy,Solar Gains Exterior Windows,Air Temperature,Radiant Temperature,Operative Temperature,DHW (Electricity),Outside Dry-Bulb Temperature,Diffuse Horizontal Solar,Direct Normal Solar,case
1,1/01/2002 01:00:00,-0.437293,0.597484,1.685215,0.222962,-1.031132,0,0,1.308877,0,22.96811,24.28242,23.62527,0.689664,10.525,NaN,NaN,1
2,1/01/2002 02:00:00,-0.47839,0.847784,1.638524,0.186162,-1.039763,0,0,1.353257,0,22.42211,23.72988,23.076,0.689664,9.9,NaN,NaN,1
3,1/01/2002 03:00:00,-0.539379,0.978961,1.394079,0.061947,-0.968856,0,0,1.375546,0,22.06252,23.2582,22.66036,0.689664,10.375,NaN,NaN,1
4,1/01/2002 04:00:00,-0.558632,1.097281,1.215557,-0.051566,-0.901327,0,0,1.396875,0,21.7668,22.84825,22.30752,0.689664,10.875,NaN,NaN,1
5,1/01/2002 05:00:00,-0.559379,1.187481,1.05487,-0.154474,-0.843734,0,0,1.414103,0,21.51071,22.49321,22.00196,0.689664,11.3,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,31/12/2002 20:00:00,-0.06908,-1.547715,0.711193,0.105764,-0.727792,NaN,0,1.44487,0,21.09294,20.7083,20.90062,0,12.275,NaN,NaN,7
8757,31/12/2002 21:00:00,-0.093779,-1.392602,0.76092,-0.11937,-0.772973,NaN,0,1.459964,0,20.76253,20.4264,20.59447,0,11.425,NaN,NaN,7
8758,31/12/2002 22:00:00,-0.139357,-1.228906,0.794144,-0.223052,-0.810312,NaN,0,1.480231,0,20.43812,20.1397,20.28891,0,10.675,NaN,NaN,7
8759,31/12/2002 23:00:00,-0.186026,-1.046471,0.887412,-0.234621,-0.81178,NaN,0,1.509153,0,19.80957,19.83922,19.8244,0.172912,10.05,NaN,NaN,7
8760,31/12/2002,-0.164789,-0.791718,1.233473,-0.130568,-0.759907,NaN,0,1.538477,0,18.79928,19.44914,19.12421,0.51874,9.675,NaN,NaN,7

In [21]:
radiation=pd.read_csv("DesignBuilder\Casos demanda\Results demand\Radiation anual.csv", encoding= "latin-1", sep=";", skiprows= 1)
radiation=radiation.drop([0], axis=0)
radiation.to_csv("CleanData/radiation.csv", index= False)

In [22]:
radiation

,Date/Time,[1] Site Diffuse Solar Radiation Rate per Area (W/m2),[1] Site Direct Solar Radiation Rate per Area (W/m2)
1,1/01/2002 01:00,0,0
2,1/01/2002 02:00,0,0
3,1/01/2002 03:00,0,0
4,1/01/2002 04:00,0,0
5,1/01/2002 05:00,0,0
...,...,...,...
8756,31/12/2002 20:00,0,0
8757,31/12/2002 21:00,0,0
8758,31/12/2002 22:00,0,0
8759,31/12/2002 23:00,0,0
8760,1/01/2003 00:00,0,0

In [23]:
case3.columns

Index(['Date/Time', 'Walls', 'Ground Floors', 'Partitions (int)', 'Roofs',
       'Sensible Cooling', 'Mech Vent + Nat Vent + Infiltration',
       'External Infiltration', 'External Vent.', 'Total Cooling',
       'Zone Heating', 'General Lighting', 'Occupancy',
       'Solar Gains Exterior Windows', 'Zone Sensible Heating',
       'Zone Sensible Cooling', 'Air Temperature', 'Radiant Temperature',
       'Operative Temperature', 'Lighting', 'Heating (Gas)',
       'Cooling (Electricity)', 'DHW (Electricity)',
       'Outside Dry-Bulb Temperature', 'Unnamed: 24', 'case'],
      dtype='object')

In [24]:
pd.options.display.max_columns = None
df

,Date/Time,Walls,Ground Floors,Partitions (int),Roofs,External Infiltration,Total Cooling,Zone Heating,Occupancy,Solar Gains Exterior Windows,Air Temperature,Radiant Temperature,Operative Temperature,DHW (Electricity),Outside Dry-Bulb Temperature,Diffuse Horizontal Solar,Direct Normal Solar,case
1,1/01/2002 01:00:00,-0.437293,0.597484,1.685215,0.222962,-1.031132,0,0,1.308877,0,22.96811,24.28242,23.62527,0.689664,10.525,NaN,NaN,1
2,1/01/2002 02:00:00,-0.47839,0.847784,1.638524,0.186162,-1.039763,0,0,1.353257,0,22.42211,23.72988,23.076,0.689664,9.9,NaN,NaN,1
3,1/01/2002 03:00:00,-0.539379,0.978961,1.394079,0.061947,-0.968856,0,0,1.375546,0,22.06252,23.2582,22.66036,0.689664,10.375,NaN,NaN,1
4,1/01/2002 04:00:00,-0.558632,1.097281,1.215557,-0.051566,-0.901327,0,0,1.396875,0,21.7668,22.84825,22.30752,0.689664,10.875,NaN,NaN,1
5,1/01/2002 05:00:00,-0.559379,1.187481,1.05487,-0.154474,-0.843734,0,0,1.414103,0,21.51071,22.49321,22.00196,0.689664,11.3,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8756,31/12/2002 20:00:00,-0.06908,-1.547715,0.711193,0.105764,-0.727792,NaN,0,1.44487,0,21.09294,20.7083,20.90062,0,12.275,NaN,NaN,7
8757,31/12/2002 21:00:00,-0.093779,-1.392602,0.76092,-0.11937,-0.772973,NaN,0,1.459964,0,20.76253,20.4264,20.59447,0,11.425,NaN,NaN,7
8758,31/12/2002 22:00:00,-0.139357,-1.228906,0.794144,-0.223052,-0.810312,NaN,0,1.480231,0,20.43812,20.1397,20.28891,0,10.675,NaN,NaN,7
8759,31/12/2002 23:00:00,-0.186026,-1.046471,0.887412,-0.234621,-0.81178,NaN,0,1.509153,0,19.80957,19.83922,19.8244,0.172912,10.05,NaN,NaN,7
8760,31/12/2002,-0.164789,-0.791718,1.233473,-0.130568,-0.759907,NaN,0,1.538477,0,18.79928,19.44914,19.12421,0.51874,9.675,NaN,NaN,7

En total se tienen cerca de 26 columnas. Estas tienen datos de la demanda t√©rmica por cerramientos, demanda de calefacci√≥n, enfriamiento y otras variables.

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61320 entries, 1 to 8760
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date/Time                     61320 non-null  object
 1   Walls                         61320 non-null  object
 2   Ground Floors                 61320 non-null  object
 3   Partitions (int)              61320 non-null  object
 4   Roofs                         61320 non-null  object
 5   External Infiltration         61320 non-null  object
 6   Total Cooling                 43800 non-null  object
 7   Zone Heating                  61320 non-null  object
 8   Occupancy                     52560 non-null  object
 9   Solar Gains Exterior Windows  43800 non-null  object
 10  Air Temperature               61320 non-null  object
 11  Radiant Temperature           61320 non-null  object
 12  Operative Temperature         61320 non-null  object
 13  DHW (Electricity)             61320 non-null  object
 14  Outside Dry-Bulb Temperature  61320 non-null  object
 15  Diffuse Horizontal Solar      8760 non-null   object
 16  Direct Normal Solar           8760 non-null   object
 17  case                          61320 non-null  int64
dtypes: int64(1), object(17)
memory usage: 8.9+ MB

En esta parte se unen todos los casos de estudio, teniendo en cuenta la demanda de dise√±o para el peor de los casos de cada uno.

In [26]:
case1_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 1- designdemand.csv", encoding= "latin-1", sep=";")
case1_design["case"]= 1

case2_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 2- designdemand.csv", encoding= "latin-1", sep=";")
case2_design["case"]= 2

case3_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 3- designdemand.csv", encoding= "latin-1", sep=";")
case3_design["case"]= 3

case4_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 4- designdemand.csv", encoding= "latin-1", sep=";")
case4_design["case"]= 4

case5_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 5- designdemand.csv", encoding= "latin-1", sep=";")
case5_design["case"]= 5

case6_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 6- designdemand.csv", encoding= "latin-1", sep=";")
case6_design["case"]= 6

case7_design=pd.read_csv("DesignBuilder\Casos demanda\Results design demand\case 7- designdemand.csv", encoding= "latin-1", sep=";")
case7_design["case"]= 7

df_design= pd.concat([case1_design,case2_design, case3_design, case4_design, case5_design, case6_design, case7_design],axis=0)
df_design.to_csv("CleanData/thermal_design_df.csv")

In [34]:
df_design

,Building,Block,Zone,Comfort Temperature (¬∞C),Steady-State Heat Loss (kW),Intermittent Heat Loss (kW),Design Capacity (kW),Design Capacity (W/m2),Glazing Gains (kW),Wall Gains (kW),Floor Gains (kW),Roof and Ceiling Gains (kW),Ventilation Gains (kW),Infiltration Gains (kW),Unnamed: 14,case
Building 1,Block 1,Dorm 9,18.00,0.46,0.0,0.57,53.0550,-0.083,-0.168,0.003,-0.081,-0.040,-0.089,NaN,NaN,1
Building 1,Block 1,Dorm 10,18.00,0.41,0.0,0.51,46.9886,-0.084,-0.118,0.003,-0.081,-0.039,-0.089,NaN,NaN,1
Building 1,Block 1,Dorm 11,18.00,0.41,0.0,0.51,46.8920,-0.084,-0.117,0.003,-0.081,-0.039,-0.089,NaN,NaN,1
Building 1,Block 1,Dorm 12,18.00,0.41,0.0,0.51,46.8903,-0.084,-0.117,0.003,-0.081,-0.039,-0.089,NaN,NaN,1
Building 1,Block 1,Dorm 13,18.00,0.41,0.0,0.51,46.8920,-0.084,-0.117,0.003,-0.081,-0.039,-0.089,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Building 1,Block 1,Dorm 5,18.00,1.19,0.0,1.49,136.6641,0.000,-0.286,0.066,-0.826,-0.044,-0.099,NaN,NaN,6
Building 1,Block 1,Dorm 6,18.00,1.19,0.0,1.49,136.6650,0.000,-0.286,0.066,-0.826,-0.044,-0.099,NaN,NaN,6
Building 1,Block 1,Dorm 7,18.00,1.19,0.0,1.49,136.7708,0.000,-0.287,0.066,-0.826,-0.044,-0.099,NaN,NaN,6
Building 1,Block 1,Dorm 1,18.00,1.30,0.0,1.62,150.3131,0.000,-0.401,0.071,-0.825,-0.044,-0.099,NaN,NaN,6
Building 1,Block 1,Corredor,8.52,0.00,0.0,0.00,0.0000,0.000,1.649,1.306,-2.620,-0.083,-0.175,NaN,NaN,6

In [10]:
case7_design

,Date/Time,Glazing,Walls,Ground Floors,Roofs,External Infiltration,External Vent.,Zone Sensible Heating,Air Temperature,Radiant Temperature,Operative Temperature,Outside Dry-Bulb Temperature,Unnamed: 12,case
0,NaN,kW,kW,kW,kW,kW,kW,kW,¬∞C,¬∞C,¬∞C,¬∞C,NaN,7
1,00:00:00,-0.385848,-2.739521,1.154319,-1.459947,-1.498724,-2.750357,8.123114,17.3886,15.78486,16.58673,0,NaN,7